*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  border: 1px solid black;
  padding: 0.8rem 1rem;
  border-radius: 45px;
}

.header img{
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 1rem;
  transition: ease-in-out 300ms;
}

.header img:hover{
  scale: 1.1;
  cursor: pointer;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
  align-items: center;
}

ul li{
  font-weight:bold;
  transition: ease-in-out 300ms;
}

ul li:hover{
  scale: 1.2;
  cursor: pointer;
}

.paginaAtual{
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.hero{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  border: 1px solid black;
  border-radius: 30px;
}

.hero img{
  width: 60%;
  border-radius: 30px;
}

.heroContainer{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.heroContainer h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  text-decoration: underline;
  text-align: start;
}

.heroContainer h4{
  font-style: italic;
  margin-bottom: 1rem;
  text-align: start;
}

.heroContainer p{
  text-align: start;
}